* {
    box-sizing: border-box;
  }
  
  .menu {
    float: left;
    width: 20%;
    text-align: center;
  }
  
  .menu a {
    background-color: #e5e5e5;
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100%;
    color: black;
  }
  
  .main {
    float: left;
    width: 60%;
    padding: 0 20px;
  }
  
  .right {
    background-color: #e5e5e5;
    float: left;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
  }
  
  @media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
    .right{
      /* position:fixed; */
      /* width:100%; */
      bottom:0;
      padding: 15px;
      margin-top: 7px;
      padding-bottom: 14px;
      
    }
    
} 
  
  #footer{
      background-color:#e5e5e5;
      text-align:center;
      padding:10px;
      margin-top:7px;
      bottom: 0; 
  }
  