<html>  
<head>  
<title>output</title>  
</head>  
<body>  
<p>output uploaded successfully</p>  


<!-- uploaded image -->
<h1>The processing Image is </h1>

	<p>
		
		<img src = "{{imagelist}}" style="width:200px;height:200px;">
		
	</p> 
	
	<!-- <p>The Images File Name: {{name}}</p> -->
	<!-- <img src="static/output/waka.jpg" alt="output" width="100" height="150"> -->
	<!-- <img src = "{{ url_for('static', filename='waka.jpg')}}"/> -->

	<!-- <img src = "{{ url_for('static', filename=i)}}"> -->
	<!-- <p>File Name: {{name2}}</p> -->
	<!-- {{break}} -->
    
</body>  
</html>  