<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- adding css -->
<link  href="{{url_for('static',filename='style.css')}}" rel="stylesheet" type="text/css">
</head>
<body style="font-family:Verdana;">

<div style="background-color:#e5e5e5;padding:15px;text-align:center;">
  <h1>Welcome !!</h1>
</div>

<div style="overflow:auto">
  <div class="menu">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
    <a href="#">Link 4</a>
  </div>

  <div class="main">
    <h2>Dress try</h2>
    <p>Tryandbuy allows online shoppers to combine different clothes 
      and see them on their bodies. Try as many as option until you 
      find the perfect match.</p>
    
    <!-- upload file start-->
    <h2>Select a file to upload</h2>
    {% if filename %}
	<div>
		<img src="{{ url_for('static', filename='/Images/'+filename) }}">
	</div>
{% endif %}
<form method="post" action="/home" enctype="multipart/form-data">
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    <p>
		<input type="submit" value="upload">
	</p>
</form>
    <!-- upload file end-->

  </div>

  <div class="right">
    <h2>About</h2>
    <p>Tryndbuy allows online shoppers to combine different 
      clothes and see them on their bodies.</p>
  </div>
</div>


<!-- footer -->
<div id='footer'>© copyright TeamMiet</div>
<!-- <div 
style="background-color:#e5e5e5;text-align:center;
padding:10px;margin-top:7px;
bottom: 0;">© copyright TeamMiet</div> -->

</body>
</html>

